<div class="container-fluid px-0">

	<!-- nav bar -->
	<!-- <div id="nav-bar" class="d-flex flex-row"> -->
		<!-- Back to Results -->
		<!-- <button class="btn btn-link update-btn m-3" type="button"><i class="fas fa-chevron-left"></i>
			<span class="pl-2">Back to Results</span>
		</button> -->
	<!-- </div> -->

	<div id="site-info" class="container-fluid">

		<!-- back btn -->
		<a routerLink="/search-event-spaces">
			<button class="btn btn-link update-btn m-3" type="button"><i class="fas fa-chevron-left"></i>
				<span class="pl-2">Back to Results</span>
			</button>
		</a>

		<!-- main info -->
		<div class="row pt-3">

			<div class="col-sm-4 offset-1">
				<div id="main-pic" class="pic-div">
					photo
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-3 sub-pic pic-div">test</div>
						<div class="col-sm-3 sub-pic pic-div">test</div>
						<div class="col-sm-3 sub-pic pic-div">test</div>
						<div class="col-sm-3 view-gallery pic-div">test</div>
					</div>	
				</div>	
			</div>
			<div class="col-sm-6">
				<div class="container">
					<div class="row">
						<div class="col-8 pt-3">
							<h4 id="location-name">Building/Site Name</h4>
							<h6 class="address">Address Line 1</h6>
							<h6 class="address">Address Line 2</h6>
							<h6 class="address">City, Province, Zip</h6>
						</div>	
						<div class="col-4">
							<!-- <div class="d-flex flex-row justify-content-end"> -->
							<div id="price">
								<span>&#8369;</span><span class="pl-1">1,500</span><span class="pl-1">/hr</span>
							</div>
							<a routerLink="/confirm-details">
								<button id="book-now-btn" class="btn btn-primary" type="button">Book Now</button>
							</a>
						</div>	
					</div>
				</div>
				<div class="container">
					<div class="row px-3 py-4">
						<p>Some short info about the location like the centrality of location, amenities, why the building/workspace is somewhere you would prefer to enjoy working at.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>	

		<!-- map div -->
		<div id="map" class="row my-5">

		</div>

		<div id="amenities" class="row m-5">

			<div class="col-11 offset-1">
				<div class="header">
					<h3>Amenities</h3>
				</div>
				<div id="amenities">
					<!-- <div class="container"> -->
						<div class="row pt-3">
							<div class="col-sm-4">
								<div class="amenity">
									<i class="fas fa-users amenity-icon"></i><span>10</span>
								</div>
								<div class="amenity">
									<i class="fas fa-wifi amenity-icon"></i><span>Wifi</span>
								</div>
								<div class="amenity">
									<i class="fas fa-coffee amenity-icon"></i><span>Refreshments</span>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="amenity">
									<i class="fas fa-tv amenity-icon"></i><span>Projectors / Screen</span>
								</div>
								<div class="amenity">
									<i class="fas fa-chalkboard amenity-icon"></i><span>Whiteboard</span>
								</div>
								<div class="amenity">
									<i class="fas fa-parking amenity-icon"></i><span>Parking</span>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="amenity">
									<i class="fas fa-utensils amenity-icon"></i><span>Cafeteria / Snackbar</span>
								</div>
							</div>
						</div>
					<!-- </div> -->
				</div>
			</div>	

			
			
			
		</div>

	</div>

</div>