/* billboard for promo messages  */
#billboard {
	padding: 5em;
	background-color: #eeeeee;
	height: 100vh;
}

.billboard-text {
	padding-top: 10em;
}

/* form to book event */
#booking-form {
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 10em;
}

.time-btn {
	margin-top: 2em;
	margin-left: 1em;
}

#num-pax {
	width: 70px;
}

.book-btn {
	margin-top: 2em;
	height: 39px;
	margin-left: 1em;
	justify-content: flex-end;
}

