<div class="container-fluid">
	<div class="row mt-5 pt-5">
		<div class="col-5 offset-3">
			<div id="booking-header" class="customer-info-div">
				<h3 class="booking-info-text pt-3 pb-2 px-3">Confirmation</h3>
				<div id="booking-info" class="customer-info-div p-3">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<h4 id="location-name" class="header pt-3">Your reservation is complete!</h4>
								<h5 class="subheader pl-2 pt-1">
									You'll receive a confirmation email from us shortly at the email you provided. (co-reps@email.com)
								</h5>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
		</div>
	</div>
	<div class="row mt-5 py-4">
		<div class="col-5 offset-3">
			<div class="d-flex flex-row justify-content-end">
				<a routerLink="/">
					<button class="btn btn-dark">Close</button>
				</a>
			</div>
		</div>
		<div class="col-4">
		</div>
	</div>
</div>