<div class="container-fluid px-0">

	<!-- back btn -->
		<a routerLink="/">
			<button class="btn btn-link update-btn m-3" type="button">
				<i class="fas fa-times"></i>
				<span class="pl-2">Cancel Booking</span>
			</button>
		</a>

	<div class="row">
		<div class="col-5 offset-3">
			<div id="booking-header" class="booking-info-div">
				<h3 class="booking-info-text pt-3 pb-2 px-3">Booking Information</h3>
				<div id="booking-info" class="booking-info-div p-3">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-5">
								<div class="photo">
									
								</div>
							</div>	
							<div class="col-sm-7">
								<h4 id="location-name" class="header">Building/Site Name</h4>
								<h6 class="address subheader pl-2 pt-1">Address Line 1</h6>
								<h6 class="address subheader pl-2">Address Line 2</h6>
								<h6 class="address subheader pb-2 pl-2">City, Province, Zip</h6>
							</div>	
						</div>
					</div>	

					<div class="dropdown-divider"></div>
					
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-5 py-2">
								<h4 id="location-name" class="subheader pt-1 d-flex flex-row justify-content-center">01/02/3004</h4>
							</div>
							<div class="col-sm-2 py-1">
								<h6 class="subheader timeslot">
									<span class="pr-2 pl-2">1:00PM</span>
								</h6>
							</div>
							<div class="col-sm-1 py-2">
								<i class="fas fa-long-arrow-alt-right pr-2 pl-2"></i>
							</div>
							<div class="col-sm-3 py-1">
								<h6 class="subheader timeslot">
									<span class="pr-2 pl-2">5:00PM</span>
								</h6>
							</div>
						</div>	
					</div>	

					<div class="dropdown-divider"></div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-5 py-2">
								<h4 id="location-name" class="subheader pt-1 d-flex flex-row justify-content-center">price/hr</h4>
							</div>
							<div class="col-sm-7 py-2">
								<span>&#8369;</span><span class="pl-1">1,500</span><span class="pl-1">/hr</span>
							</div>
						</div>	
					</div>	

					<div class="dropdown-divider"></div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-5 py-2">
							</div>
							<div class="col-sm-3 py-2">
								<h4 id="location-name" class="subheader pt-1 d-flex flex-row justify-content-center">TOTAL</h4>
							</div>
							<div class="col-sm-4 py-1 total">
								<span>&#8369;</span><span class="pl-1">6,000</span>
							</div>
						</div>	
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-4">
		</div>
	</div>

	<div class="row mt-5 pt-5">
		<div class="col-5 offset-3">
			<div id="booking-header" class="customer-info-div">
				<h3 class="booking-info-text pt-3 pb-2 px-3">Customer Details</h3>
				<div id="booking-info" class="customer-info-div p-3">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<h4 id="location-name" class="header">First Name / Last Name</h4>
								<h5 class="subheader pl-2 pt-1">Organization Name</h5>
								<h6 class="address subheader pl-2">co-reps@email.com</h6>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
		</div>
	</div>

	<div class="row mt-5 py-5">
		<div class="col-5 offset-3">
			<div class="d-flex flex-row justify-content-end">
				<a routerLink="/confirmation">
					<button class="btn btn-primary">Confirm Reservation</button>
				</a>
			</div>
		</div>
		<div class="col-4">
		</div>
	</div>

	
</div>